@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,430;0,700;1,400;1,500;1,600;1,700&family=Handlee&family=Radio+Canada&family=Roboto:ital,wght@0,700;0,900;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  color: white;
  background-color: rgb(66, 237, 9);
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  font-family: Folks;
}

.container {
  display: grid;
  place-items: center;
  background-image: url(./imgs/table.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.to-do-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.to-do-list-heading {
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

.to-do-list {
  height: 40rem;
  width: 35rem;
  border: 2px solid black;
  background-color: #ffff88;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 1.5rem 1rem 1.5rem;
  font-family: "Cabin", sans-serif;
  font-family: "Handlee", "cursive";
  font-family: "Radio Canada", sans-serif;
  font-family: "Roboto", sans-serif;
}

.nip {
  display: inline-block;
  transform: translateY(-1.5rem);
  height: 4rem;
  width: 2rem;
  background-color: #71797e;
  margin: 0 2.5rem;
  border-radius: 100vmax;
  box-shadow: -3px -3px 3.1px rgba(255, 255, 255, 0.4) inset,
    -1.5px -1.5px 1.7px rgba(0, 0, 0, 0.6) inset;
}

.input-list {
  width: 100%;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 1rem 0;
  color: black;
  background-color: #ffff88;
}

input::-webkit-input-placeholder {
  color: #71797e;
  opacity: 0.6;
}

input::-moz-placeholder {
  color: #71797e;
  opacity: 0.6;
}

.to-do-list-content-list {
  width: 100%;
  height: calc(100% - 92px);
  position: relative;
  overflow-y: visible;
  overflow-x: hidden;
}

.to-do-list-content-list::-webkit-scrollbar {
  width: 1px;
}

.to-do-list-content-list::-webkit-scrollbar-thumb {
  background-color: #ffff88;
}

.to-do-list-content-item i {
  font-size: 1.5rem;
  color: red;
  position: absolute;
  opacity: 0.7;
  transition: all 0.17s ease-in-out;
}

.to-do-list-content-item i[class="ti-eraser"] {
  right: 0;
}

.to-do-list-content-item i[class="ti-pencil"] {
  left: 0;
}

.to-do-list-content-item input[type="checkbox"] {
  display: none;
  opacity: 0;
  position: absolute;
}

.to-do-list-content-item i:hover {
  transform: scale(1.2);
  cursor: pointer;
  opacity: 1;
}

.to-do-list-content-item {
  padding: 0 1.8rem;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  position: relative;
}

.content-text:hover {
  cursor: pointer;
}

.item-check-box {
  margin-right: 1.5rem;
  height: 1.7rem;
  width: 1.7rem;
}

.content-text {
  font-size: 1.7rem;
  color: black;
  font-weight: 600;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1rem 0;
}

.item-check-box:checked + .content-text {
  text-decoration: line-through;
  font-style: italic;
  color: #71797e;
  opacity: 0.6;
  font-weight: 400;
}

#clear-all-btn {
  font-size: 1.5rem;
  color: black;
  font-weight: 400;
  opacity: 0.6;
  padding-top: 0.5rem;
  transition: all linear 0.1s;
}

#clear-all-btn:hover {
  cursor: pointer;
  color: red;
  opacity: 1;
  transform: scale(1.1);
}

#clear-all-btn i {
  margin-left: 0.5rem;
}
